* {
  font-family: 'Poppins, Sans-serif';
}
#form {
  width: 60%;
  height: 100vh;
  margin: 20vh auto 20vh auto;
  padding: 20px;
  background-color: #5fcf80;
  border-radius: 4px;
  font-size: 12px;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

.signBtn {
  padding: 20px;
  width: 70%;
  color: white;
  background-color: #444;
  margin: 20px auto;
  border: none;
  border-radius: 25px;
  font-size: 24px;
}
#signupBtn {
  width: 100%;
  margin: 20px auto;
}
#loginBtn {
  margin: 20px auto;
  font-size: 16px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 0;
  border-radius: 25px;
  display: block;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
